= form_for @user, :method => :put, :url => user_path do |f|
  Name: #{f.text_field :name}
  %br/
  Email : #{f.text_field :email}
  %br/
  = f.fields_for :profile_attributes do |p|
    Website: #{p.text_field :website}
    %br/
    Preferred payment type: #{p.text_field :pref_payment}
    %br/
    Preferred rate, $/hr: #{p.text_field :rate}
    
    %br/
  = f.submit

//= @user.inspect
/ %br
/ %br
/ - current_user.services.each do |s|
/   = s.inspect
/   %img{:src => s.avatar_url}
/   %br
/ %br
/ %br
/ = session.inspect