%h2 Profile Information
= simple_form_for @user, :method => :put, :html => { :class => 'form-horizontal' }, :url => user_path do |f|
  = f.input :name
  = f.input :username
  = f.input :website
  = f.input :avatar_url, label: 'Avatar URL'
  = f.input :pref_payment, label: 'Payment Method'
  = f.input :rate, collection: 40..100, label: 'Rate, $/hr'
  = f.input :availability, as: :text, label: "Availability Status", placeholder: 'Short description of your availability'
  = f.input :resume, :as => :file, :hint => @user.resume_file_name  #, :required => true 
  /= f.collection_check_boxes :skill_ids, Skill.all, :id, :name, :item_wrapper_class => 'checkbox_container'
  = f.input :skill_ids, :as => :check_boxes, :collection => Skill.all, :label_method => :name, :value_method => :id,  :item_wrapper_class => 'inline', label: 'Skills'
  = f.button :submit
  = link_to 'Cancel', :back

%h2 Credentials
