%h2 Profile Information
= form_for @user, :method => :put, :url => user_path do |f|
  Name: #{f.text_field :name}
  %br/
  Desired Username: #{f.text_field :username}
  %br/
  Email: #{f.text_field :email}
  %br/
  Website: #{f.text_field :website}
  %br/
  Preferred payment type: #{f.text_field :pref_payment}
  %br/
  Preferred rate, $/hr: #{f.text_field :rate}
  %br/
  %br/
  / %h2 Resume
  / = f.file_field :resume
  %br/
  / %h2 Skills
  / = f.fields_for :skills_attributes do |builder|
  /   = render "skills_fields", :f => builder
  / %br/
  = f.submit
