%h2 Profile Information
= simple_form_for @user, :method => :put, :html => { :class => 'form-horizontal' }, :url => user_path do |f|
  = f.input :name
  = f.input :username
  = f.input :website
  = f.input :avatar_url, label: 'Avatar URL'
  = f.input :pref_payment, label: 'Payment Method'
  = f.input :rate, collection: 40..100, label: 'Rate, $/hr'
  = f.input :availability, as: :text, label: "Availability Status", placeholder: 'Short description of your availability'
  = f.input :resume, :as => :file, :hint => @user.resume_file_name  #, :required => true 
  %h2 Skills
  = f.input :skill_ids, :as => :check_boxes, :collection => Skill.all, :label_method => :name, :value_method => :id,  :item_wrapper_class => 'inline', label: 'Skills'
  %h2 Credentials
  = f.fields_for :credentials, :html => {:class => 'form-inline'} do |builder|
    = render 'credentials_fields', :f => builder
    %br/
  = f.button :submit
  = link_to 'Cancel', :back
%br/
%br/

/ 
/ %h2 Credentials
/ 
/ %table{:class => "table table-striped table-hover"}
/   %thead
/     %th Location
/     %th Title
/     %th Date
/     %th
/     %tbody
/     - @user.credentials.each do |d|
/       %tr
/       %td= d.location
/       %td= d.title
/       %td= d.achieved
/       %td= button_to "delete", d
/       %tr/
/       %tbody/
/       %table/
/ = simple_form_for :credentials_attributes, :html => { :class => 'form-inline' }, :url => user_path do |c|
/   = c.label :location
/   = c.text_field :location, placeholder: 'Company Name'
/   = c.label :title
/   = c.text_field :title, placeholder: 'Position Held'
/   = c.label :achieved
/   = c.text_field :achieved, placeholder: 'Dates'
/   %br/
/   %br/
/   = c.button :submit
/   = link_to 'Cancel', :back