//= image_tag "tesseractblack.png", :size => "400x333"
%h2 Welcome to Tesseract!
%br/
= form_tag users_path, :method => 'get' do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search", :name => nil
    %br/
    = link_to "Advanced Search", new_search_path
  %p
- if user_signed_in?
  %h4 Latest Developers
  %br/
  %table{:class => "table table-striped table-hover"}
    %thead
      %th Name
      %th Username
      %th Website
      %th Last Seen
      %tbody
      - @users.each do |u|
        %tr
        %td= link_to u.name, u
        %td= u.username
        %td= u.website
        %td= u.last_seen
        %tr/
    %tbody/
    %table/
%br/
%br/
