%h2 #{@user.name}
Username: #{@user.username}
%br/
Email: #{@user.email}
%br/
Website: #{@user.website}
%br/
%h3 Credentials
- @user.credentials.each do |c|
  c.location
  %br/
  c.title
  %br/
  c.achieved
  %br/
%br/
%h3 Skills
- @user.skills.each do |s|
  #{s.name}
  %br/
%h3 Resume
#{@user.resume}
%br/
%h3 Availability

/ = form_for @user, :method => :put, :url => user_path do |f|
/   Name: #{f.text_field :name}
/   %br/
/   Email : #{f.text_field :email}
/   %br/
/   = f.fields_for :profile do |p|
/     Website: #{p.text_field :website}
/   = f.submit
/ 
/ = current_user.inspect
/ %br
/ %br
/ - current_user.services.each do |s|
/   = s.inspect
/   %img{:src => s.avatar_url}
/   %br
/ %br
/ %br
/ = session.inspect