%img.profile_avatar{:src => Gravatar.new(current_user.email).image_url({:size => "256"}), :style => "border: 1px solid grey; margin-right: 5px; align: right"}
%h2 #{@user.name}
Username: #{@user.username}
%br/
Email: 
= if @user.email? then mail_to @user.email else "No email supplied." end
%br/
= if @user.website? then link_to "Website", @user.website else "No website supplied." end
%br/
%h3 Credentials
- @user.credentials.each do |c|
  c.location
  %br/
  c.title
  %br/
  c.achieved
  %br/
%br/
%h3 Skills
- @user.skills.each do |s|
  #{s.name}
  %br/
%h3 Resume
/ = link_to "View", @user.resume.url if @user.resume_file_name?
= if @user.resume_file_name? then link_to("View", @user.resume.url) else "No resume supplied." end

%h3 Availability
#{@user.availability}