%h2 #{@user.name}
Username: #{@user.username}
%br/
Email: #{@user.email}
%br/
Website: #{@user.website}
%br/
%h3 Credentials
- @user.credentials.each do |c|
  c.location
  %br/
  c.title
  %br/
  c.achieved
  %br/
%br/
%h3 Skills
- @user.skills.each do |s|
  #{s.name}
  %br/
%h3 Resume
= link_to "View", @user.resume.url
%h3 Availability
