= image_tag "tesseractwhite2.png", :size => "45x35", :class => 'brand', :style => "padding-right: 0px; padding-bottom: 2px; padding-top: 3px;"
= link_to "Tesseract", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      %a
        Jobs
    %li
      %a
        Developers
    %li
      %a
        Employers
    %li
      %a
        My Profile
%ul.nav{:style => "float: right;"}
  - if user_signed_in?
    %li.dropdown
      %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
        - if current_user.current_avatar != nil
          - avatar_url = Service.find(current_user.current_avatar).avatar_url
          %img{:src => avatar_url, :height => 25, :width => 25, :style => "border: 1px solid grey; margin-right: 5px;"}
        = current_user.name
        %b.caret
      %ul.dropdown-menu
        %li 
          //= link_to "My Profile", edit_users_url
        %li 
          = link_to "Settings", services_path
        %li
          = link_to("Logout", signout_services_path)
  - else 
    %li
      = link_to "Sign In", signin_services_path