<%= link_to "Tesseract", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>        
    </li>
  <% else %>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Sign In With Twitter', '/users/auth/twitter' %>
    </li>
    <li>
    <%= link_to 'Sign In With LinkedIn', '/users/auth/linkedin' %>
    </li>
  <% end %>
</ul>